# pycache
*.DS_Store
*__pycache__
**/__pycache__/*
__pycache__/
**/__pycache__/**

# .zip or .gz
*.zip
*.gz

# build
dist/**
openvideo.egg-info/**
build/**

# C extensions
*.pyd
*.so

# tmp
tmp/**
tmp.py
repos/**

# coverage
coverage.xml
.coverage

# test
tests/test_clean/**
tests/test_clean_out/**